<h1>Directives</h1>
<h2> {{age}}</h2>
<h2 *ngFor="let age of ages">My age is:{{age}}</h2>

<h4>{{state}}</h4>

<ol>
    <li *ngFor="let state of states">{{state}}</li>
</ol>

<ul>
    <li *ngFor="let state of states">{{state}}</li>
</ul> <br>
<select name="" id="">
    <option value="" *ngFor="let state of states">{{state}}</option>
</select>
<h3 *ngFor="let product of products">{{product.productName}} cost is : {{product.price}}</h3>

<table border="1" [cellPadding]="10" [cellSpacing]="0">
    <thead>
        <tr>
            <th>S No</th>
            <th>Product Name</th>
            <th>Product Price</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products;let i=index">
            <td>{{i+1}}</td>
            <td>{{product.productName | uppercase}}</td>
           <td [ngStyle]="{'color':product.price<=5000 ? 'green':'red'} ">{{product.price}}</td>
            <td [ngClass]="{'green':product.price<=5000 ,'red':product.price>1000000} ">{{product.price | currency}}</td>
        </tr>
    </tbody>
</table>


<h1 *ngIf="true">Hi Team</h1>
<h1 *ngIf="false">Hello....!</h1>

<h2>{{today}}</h2>
<h4>{{today | date}}</h4>
<h4>{{today | date:"dd-MM-yyy"}}</h4>
<h4>{{today | date:"yyyy-MM-dd"}}</h4>
<h4>{{today | date:'hh:mm':'IST'}}</h4>