<h1 style="text-align: center;">Mail</h1>

<div >
    <img src="{{mail.image}}" alt="">
    <table class="table table"> 
        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
        </tr>
    </thead>
        
    <tbody>
       
        <tr *ngFor="let mail of mail">
            <td>{{mail.id}}</td>
            <td [ngClass]="{'read':mail.completed==true ,'unread': mail.completed==false}">{{mail.title}}</td>
            
        </tr>
    </tbody> </table>
</div>

    
