<br>
<div class="parent">
  <div class="child">

  <h1><b>Rectangle</b></h1>
  <hr>
  <label for="">Lenght: &nbsp; &nbsp;</label><br>
  <input type="number" [(ngModel)]="a"> <br> <br>
  <label for="">Breadth:</label><br>
  <input type="number" [(ngModel)]="b"> <br> &nbsp; <br>
  <!-- <label for=""><b>Result: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</b></label>
  <input type="number" id="Calculator"> <br> <br> -->
  

  <button [disabled]="!a || !b" (click)="area()" ><b>Area</b></button> &nbsp;
  <button [disabled]="!a || !b" (click)="perimeter()"><b>Perimeter</b></button> &nbsp;

  <h2>Result : {{result}}</h2>
  </div>

</div>