<h1><p>Vehicles</p></h1>
<input type="text" [(ngModel)]="term" (keyup)="filter()">
<select [(ngModel)] ="column">
   <option>Vehicle</option>
   <option >manufacturer</option>
   <option >model</option>
   <option >type</option>
   <option >fuel</option>
   <option >cost</option>
</select>
<select [(ngModel)]="order">
    <option >asc</option>
    <option >desc</option>
</select>
<button class="btn btn-primary" (click)="sort()">Sort</button>

<select [(ngModel)] ="limit">
    <option>10</option>
    <option >20</option>
    <option >30</option>
    <option >40</option>
    <option >50</option>
   
 </select>
 <select [(ngModel)]="page">
     <option >1</option>
     <option >2</option>
     <option >3</option>
 </select>
 <button class="btn btn-primary" (click)="pagination()">Pagination</button>
 <button class="btn btn-primary" routerLink="/website/create-vehicles">Create Vehicle</button>

<table class="table table-dark">
    <thead>
        <tr>
            <th>Vehicle</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Type</th>
            <th>Fuel</th>
            <th>Cost</th>
            <th>Image</th>
            <th>View</th>
            <th>Edit</th>
            <th >Actions</th>
           
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles">
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.manufacturer}}</td>
            <td>{{vehicle.model}}</td>
            <td>{{vehicle.type}}</td>
            <td>{{vehicle.fuel}}</td>
            <td [ngClass]="{'green':vehicle.cost<=400,'red':vehicle.cost>500}">{{vehicle.cost | balance}}</td>
            <td> <img src="{{vehicle.image}}" width="100px" height="100px"></td>
           
                <td>
                    <button class="btn btn-secondary" routerLink="/website/vehicle-details/{{vehicle.id}}">View</button>
                </td>
                <td>
                    <button class="btn btn-info" routerLink="/website/edit-vehicle/{{vehicle.id}}">Edit</button>
                </td>
                <td>
                <button class="btn btn-danger" (click)="delete(vehicle.id)"> Delete</button>
            </td>
            
        </tr>
    </tbody>
</table>